@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1{
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
  transform: scaleY(1.5);
  font-size: 30px;
  color: #363636;
  margin-bottom: 60px;
  margin-top: 50px;
}

h2{
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
  transform: scaleX(0.9);
  font-size: 25px;
  color: #363636;
  margin-left: 300px;
}

.App {
  padding-left: 100px;
  padding-top: 20px;
} 


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.amgButton, .maybachButton, .newButton{
  border-left: none;
}

.amgButton{
  vertical-align: top;
  margin-top: 0px; 
  line-height: normal;
}

button{
  background-color: white;
  height: 50px;
  width: 150px;
  font-size: 15px;
  border: 1px solid #acacac;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.116);
}

button:hover{
  background-color: #e7e7e7;
  color: rgb(0, 0, 0);
}

button:active, button:focus{
  filter: invert(100%);
}
.cars-prview{
  width: 300px;
  height: 380px;
  transition: 0.4s;
  padding-top: 15px;
  margin-right: 20px;
}
.cars-map{
  display: flex;
  flex-wrap: wrap;
  margin-left: 340px;
  margin-top: 5px;
}
.cars-prview:hover{
  background-color: rgba(241, 241, 241, 0.736);
}
.carName , .carPreis{
  text-align: center;
}
.carName{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 10;
  transform: scaleY(1.5);
}
.carPreis{
  color: #afafaf;
}
.inline{
  display: flex;
  justify-content: center;
  align-items: center;
}
.center{
  display: flex;
}
.inline img{
  margin-right: 12px;
  margin-top: 8px;
}
.carAntrieb{
  background-color: #e6e6e6;
  color: #515151;
  border-radius: 15px;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
}
.carAntriebskonzept{
  text-align: center;
}
.carTypeImage{
  height: 35px;
  width: auto;
}
.amgButtonImage{
  width: auto;
  height: 55px;
}
.maybachButtonImage{
  width: 90px;
  height: 10px;
}
.newCar{
  background-color: #4b6fff;
  color: #ffffff;
  border-radius: 15px;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}